<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Fasta format</title>
</head>

<p>>O05293  </p>
<p>MAVAIARPKLEGNIAVGEDRRIGFAEFGAPQGRAVFWLHGTPGARRQIPTEARVYAEHHN </p>
<p>IRLIGVDRPGIGASTPHQYETILAFADDLRTIADTLGIDKMAVVGLSGGGPYTLACAAGL</p>
<p>PDRVVAAGVLGGVAPTRGPDAISGGLMRLGSAVAPLLQVGGTPLRLGASLLIRAARPVAS</p>
<p>PALDLYGLLSPRADRHLLARPEFKAMFLDDLLNGSRKQLAAPFADVIAFARDWGFRLDEV</p>
<p>KVPVRWWHGDHDHIVPFSHGEHVVSRLPDAKLLHLPGESHLAGLGRGEEILSTLMQIWDR</p>
<p>DLRK</p>
<p>>O05773 </p>
<p>MNQSETEIEILAEKIARWARARSAEIERDRRLPDELVTRLREAGLLRATMPREVAAPELA</p>
<p>PGRALRCAEAVARGDASAGWCVSIAITSALLVAYLPARSREEMFGGGRGVAAGVWAPRGT</p>
<p>ARSVDGGVVVSGRWPFCSGINHADIMFAGCFVDDRQVPSVVALNKDELQVLDTWHTLGLR</p>
<p>GTGSHDCVADDVFVPADRVFSVFDGPIVDRPLYRFPVFGFFALSIGAAALGNARAAIDDL</p>
<p>VELAGGKKGLGSTRTLAERSATQAAAATAESALGAARALFYEVIEAAWQVSHDAEAVPVT</p>
<p>MRNRLRLAATHAVRTSADVVRSMYDLAGGTAIYDNAPLQRRFRDAFTATAHFQVNEASRE</p>
<p>LPGRVLLDQPADVSML</p>


</body>
</html>